.center
{
    text-align: center;
}

#logo-btn
{
	padding: 5px 10px 0px;
}

a
{
    text-decoration:none;
}

.validated-field
{
    position: relative;
}

.ui-navbar
{
    box-shadow: 0px -1px 10px #000;
}


.listview-wrapper {
    padding-top : 40px;
}

.listview-wrapper form
{
    position: fixed;
    top: 30px;
    left: 0px;
    width: 80%;
    padding: 10px 10% 0px;
    z-index: 1;
    background: #fbf9fb;
    box-shadow: 0px 1px 10px #333;
}


.course-loading
{
    width: 22px;
    height: 22px;
    opacity: 0.3;
    float: right;
    margin-top: -11px !important;
    margin-right: -7px !important;
}

.green-ui-navbar
{
    border-top: 3px solid #5ca028;
}

.green-listview-wrapper
{
    background: #5ca028;
    border-bottom: 1px solid #5ca028;
}

.black-ui-navbar
{
     border-top: 3px solid #737373;
}

.black-listview-wrapper
{
    background: #737373;
    border-bottom: 1px solid #737373;
}

.img-resize
{
    width:70%;
    height:auto;
}